<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Login')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<header th:replace="partials/header :: header('Log In')"></header>

<main class="container" style="background-color: lightslategray; border: 5px solid darkslategrey;">
    <form> <!--//method="post" -->
        <div class="form-group">
            <label for="userName">User Name</label>
            <input type="text" class="form-control" name="userName" id="userName" placeholder="userName" />
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" name="password" id="password" placeholder="password" />
        </div>
        <button class="btn btn-primary" id="userSubmit" type="submit">Submit</button>
        <br />
        <a href="register.html">Not registered Yet?</a>
    </form>
    <br class="mb-1" />
</main>

<th:block th:include="partials/scripts :: scripts" />

</body>
</html>