<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Show Post')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body >

<nav th:replace="partials/navbar :: nav"></nav>

<header th:replace="partials/header :: header('Show Post!')"></header>

<div id="bgs"
     style="
     background-image: url('img/bgBlue.jpeg');
     height: 100%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;">

<main class="container row mt-5"
      style="
         border: 5px double lightslategray;
         margin: auto;
         width: 50%;
         padding: 10px;">

    <div class="card my-5 p-5 col">

        <h2 th:text="${#strings.capitalizeWords(post.title)}" class="text-center">Post</h2>
        <hr/>
        <p class="mb-0">Authored By: ~<em th:text="${post.getUser().getName()}"></em></p>
        <p>Email: <a href="/#" th:text="${post.getUser().getEmail()}"></a></p>
        <h6 th:text="${post.body}"></h6>
    </div>

</main>
</div>
<br />

<th:block th:include="partials/scripts :: scripts" />

</body>
</html>
