<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8" />
    <title></title>
</head>
<body>

<nav class="navbar navbar-light bg-dark navbar-expand-lg row sticky-top" th:fragment="nav">
    <a class="navbar-brand nav-link" th:href="@{/}">
        <img src="/img/bird.png" width="30" height="30" class="d-inline-block align-top " alt="" />
        <span class="text-primary">Scooter Blog</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-1 justify-content-end" id="navbarNav">
    <ul class="nav bg-dark">
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts}">Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/posts/create}">Create Posts</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" th:href="@{/users/register}">Register</a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item">
            <a class="nav-link text-light" th:href="@{/users/login}">Login</a>
        </li>
        <li sec:authorize="isAuthenticated()">
            <form th:action="@{/logout}" th:method="post">
                <button class="btn-link btn">Logout</button>
            </form>
        </li>
    </ul>
    </div>
</nav>

<!--<nav th:fragment="nav">-->
<!--    <ul class="nav bg-dark">-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-light" th:href="@{/}">Scooter Blog</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-light" th:href="@{/posts}">Posts</a>-->
<!--        </li>-->
<!--        <li class="nav-item">-->
<!--            <a class="nav-link text-light" th:href="@{/posts/create}">Create Posts</a>-->
<!--        </li>-->
<!--        <li class="nav-item ml-auto">-->
<!--            <a class="nav-link text-light" th:href="@{/users/register}">Register</a>-->
<!--        </li>-->
<!--        <li sec:authorize="isAnonymous()" class="nav-item">-->
<!--            <a class="nav-link text-light" th:href="@{/users/login}">Login</a>-->
<!--        </li>-->
<!--        <li sec:authorize="isAuthenticated()">-->
<!--            <form th:action="@{/logout}" th:method="post">-->
<!--                <button class="btn-link btn">Logout</button>-->
<!--            </form>-->
<!--        </li>-->
<!--    </ul>-->
<!--</nav>-->

</body>
</html>