<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Login')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />

</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<header th:replace="partials/header :: header('Log In')"></header>

<div th:if="${param.error}" class="card border-danger my-1" style="max-width: 30rem;">
    <div class="card-body text-secondary">
        <p class="card-title">Invalid Username and Password.</p>
    </div>
</div>
<div th:if="${param.logout}" class="card border-success my-2 py-0" style="max-width: 30rem;">
    <div class="card-body text-secondary">
        <p class="card-title"> You have been logged out.</p>
    </div>
</div>

<main class="container mt-5" style="background-color: lightslategray; border: 5px solid darkslategrey;">
<form th:action="@{/users/login}" method="post">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <input type="submit" value="Log In" />
</form>
</main>

<th:block th:include="partials/scripts :: scripts" />

</body>
</html>