<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head('Register')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<header th:replace="partials/header :: header('Register A New User')"></header>

<main class="container mt-5 " style="background-color: lightslategray; border: 5px solid darkslategrey; width: 50rem;">
    <form th:action="@{/users/register}" method="POST" th:object="${user}" class="mt-2 py-3 px-3 text-center">
        <label for="username">Username</label>
        <br/>
        <input id="username" th:field="*{name}" />
        <br/>
        <label for="email">Email</label>
        <br/>
        <input id="email" th:field="*{email}" />
        <br/>
        <label for="password">Password</label>
        <br/>
        <input id="password" type="password" th:field="*{password}" />
        <br/>
        <br/>
        <input value="Sign me up!" type="submit" />
    </form>
    <br class="mb-1" />
</main>

<th:block th:include="partials/scripts :: scripts" />

</body>
</html>
