<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" xmlns="http://www.w3.org/1999/html">
<head th:replace="partials/head :: head('Home')">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>

</head>
<body>

<nav th:replace="partials/navbar :: nav"></nav>

<header class="mb-2" th:replace="partials/header :: header('Home')"></header>

<div sec:authorize="isAuthenticated()">
    <div class="card">
            <h1 class="card-title text-center mb-2">
                Welcome, <span th:text="${#authentication.principal.name}"></span>!
            </h1>
            <div class="text-center">
                Email: <span th:text="${#authentication.principal.email}"></span><br/>
                User ID: <span th:text="${#authentication.principal.id}"></span>
            </div>
    </div>
</div>

<div sec:authorize="isAnonymous()">
    <h1 class="mt-2" style="text-align: center;">Hello</h1>
    <h1 class="mt-2" style="text-align: center;">Please Log In or View Posts</h1>
</div>
<br/>
<div class="card-deck mx-2">
    <div class="card">
        <img src="/img/bird.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Bird Scooters</h5>
            <p class="card-text">Bird is a dockless electric scooter sharing company based in Santa Monica, California.
                Founded in September 2017 by Travis VanderZanden, formerly an executive at Lyft and at Uber. Bird operates
                electric scooters in over 60 cities throughout Europe, the Middle East,
                and North America with 10 million rides in its first year of operation.
            </p>
            <a href="https://www.bird.co/#take-a-ride">Go to Bird</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/lime.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Lime Scooters</h5>
            <p class="card-text">
                Neutron Holdings, Inc. doing business under the name Lime, formerly LimeBike was founded in January 2017,
                is a transportation-rental company based in the United States. It runs bicycle-, scooter-, and car-sharing
                systems in various cities around the world. The systems offer dockless vehicles which users find and unlock
                via a mobile app which knows the location of available units via GPS and radio.
            </p>
            <a href="https://www.li.me/">Go to Lime</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/lyft.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Lyft Scooters</h5>
            <p class="card-text">
                Lyft, Inc. is a transportation network company (TNC) based in San Francisco, California and
                operating in 640 cities in the United States and 9 cities in Canada. Lyft was launched in the
                summer of 2012 by computer programmers Logan Green and John Zimmer as a service of Zimride, a
                long-distance intercity carpooling company they founded in 2007. It develops, markets, and
                operates the Lyft mobile app, offering car rides, scooters, and a bicycle-sharing system.
            </p>
            <a href="https://www.lyft.com/scooters">Go to Lyft</a>
        </div>
    </div>
    <div class="card">
        <img src="/img/jump.png" class="card-img-top" alt="..." />
        <div class="card-body">
            <h5 class="card-title">Jump Scooters</h5>
            <p class="card-text">
                In 2018, the company first partnered with and was acquired soon-after by Uber Technologies Inc.
                JUMP was originally founded as Social Bicycles and has been creating the hardware and software behind
                some of the greatest innovations in bike share since 2010. JUMP creates on-demand electric bikes and
                scooters that allow you to go farther, get there faster, and have more fun.
            </p>
            <a href="https://jump.com/">Go to Jump</a>
        </div>
    </div>
</div>

<br />
<div class="card mb-3 mx-4">
    <img src="/img/blueduck.jpeg" class="card-img-top" alt="..." />
    <div class="card-body">
        <h5 class="card-title">BLUE DUCK</h5>
        <p class="card-text"><em>San Antonio's own local Scooter Company</em></p>
        <p class="card-text">Blue Duck Scooters is a dockless eScooter company based in San Antonio, TX.
            The company provides a quick, fun, and economically sustainable mode of transportation in urban
            centers. Ducks are green, rechargeable, electrically driven alternatives that provide a valuable
            rideshare option. Ducks are a convenient mode of transportation in areas where traditional vehicle
            traffic is limited.
        </p>
        <a href="https://www.flyblueduck.com/">Check out Blue Duck</a>
    </div>
</div>

<br/>
<br/>


<th:block th:include="partials/scripts :: scripts"/>

</body>
</html>